.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.title {
    font-size: 5em;
    margin-bottom: 25px;
    color: whitesmoke;
}